<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="HandheldFriendly" content="true">
		<meta name="description" content="页面描述"/>
		<meta name="keywords" content="关键字,关键字"/>
		<meta name="robots" content="index,follow"/>
		<meta name="renderer" content="webkit">
		<title></title>
		<link rel="stylesheet" href="./css/css.css" />
		<link rel="stylesheet" type="text/css" href="./css/product.page.css"/>
		<link rel="stylesheet" href="./css/media.query.css" />
	</head>
	<body>
		<div class="header">
			<div class="head_top">
				<div class="center_block">
					<div class="logo2"><a href="./index.html"><img src="images/logo2.png"/></a></div>
				</div>
				<div class="search_bar">
					<div class="center_block">
						<form action="" method="post">
							<input type="text" name="search" id="search" placeholder="Please enter" />
							<input type="submit" name="submit" id="submit" value="Search" />
						</form>
						<a href="javascript:;" class="search_bar_close"><img src="./images/close.png"/></a>
					</div>
				</div>
				<div class="control">
					<button class="login_btn fl">For Reseller</button>
					<img src="./images/search.png" class="search fl"/>
					<div class="cl"></div>
					<div class="menu">
						<div class="padding">
							<a href="javascript:;" class="close"><img src="./images/close.png"/></a>
							<a href="" class="link">Where to Buy</a>
							<div class="row">
								<span>Products</span>
								<div class="alink">
									<a href="" target="_blank">Boosters</a>
									<a href="" target="_blank">Antennas</a>
									<a href="" target="_blank">Other Accessories</a>
								</div>
							</div>
							<div class="row">
								<span>About</span>
								<div class="alink">
									<a href="" target="_blank">About SureCall</a>
									<a href="" target="_blank">Why SureCall</a>
								</div>
							</div>
							<div class="row">
								<span>Media</span>
								<div class="alink">
									<a href="" target="_blank">Press Releases</a>
									<a href="" target="_blank">Case Studies</a>
									<a href="" target="_blank">Marketing Materials</a>
									<a href="" target="_blank">Articles</a>
								</div>
							</div>
							<div class="row">
								<span>Events</span>
								<div class="alink">
									<a href="" target="_blank">Trade Shows</a>
									<a href="" target="_blank">Video Channel</a>
								</div>
							</div>
							<div class="row">
								<span>Supports</span>
								<div class="alink">
									<a href="" target="_blank">Where to Buy</a>
									<a href="" target="_blank">Find a Installer</a>
									<a href="" target="_blank">Antenna Separation</a>
									<a href="" target="_blank">Phone Test Mode</a>
									<a href="" target="_blank">Coverage Calculator</a>
									<a href="" target="_blank">Find your Frequency</a>
								</div>
							</div>
							<div class="row">
								<span>Join Us</span>
								<div class="alink">
									<a href="" target="_blank">Reseller Application</a>
									<a href="" target="_blank">Installer Cetificaltion</a>
								</div>
							</div>
							<div class="row icon">
								<a href="" class="icon1"></a>
								<a href="" class="icon2"></a>
								<a href="" class="icon3"></a>
								<a href="" class="icon4"></a>
							</div>
						</div>
					</div>
					<a href="javascript:;" class="menu_btn">
						<span></span>
						<span></span>
						<span></span>
					</a>
				</div>
				<div class="cl"></div>
			</div>
			<div class="static_banner static_banner3 product_page_static_banner">
				<div class="center_block">
					<div class="fl">
						<p class="p1"><span class="span1">Fusion4Home</span></p>
						<div class="hr"></div>
						<p class="p2">Built to combine PCS and Cellular dual bands with both LTE and AWS frequencies for Verizon, AT&T and T-Mobile voice and data reception solution. This competitively priced booster covers homes that are up to 6,000 square feet and 5 to 10 simultaneous users.</p>
						<div class="div"><span class="span1">2G/3G Voice and Data</span><span class="span2">50dB Gain</span></div>
						<div class="div"><span class="span3">500 sq. ft.</span><span class="span4">5-6 Simultaneous</span></div>
					</div>
					<div class="fl pic"><img src="./images/41.png"/></div>
					<div class="cl"></div>
				</div>
			</div>
		</div>
		<div class="main">
			<div class="center_block">
				<div class="links">
					<a href="#overview">Overview</a>
					<a href="#spec">Spec</a>
					<a href="#kit_optional">Kit optional</a>
					<a href="#download">Download</a>
				</div>
			</div>
			<div class="overview" id="overview">
				<div class="center_block">
					<div class="fl">
						<div class="title">Features</div>
						<div class="color_bar"></div>
						<div class="info_block">
							<p>• Improved indoor cellular voice and data signal</p>
							<p>• Reliable cell signal and more consistent data speeds</p>
							<p>• Faster data downloads</p>
							<p>• Up to 2 hours additional talk time in weak-signal areas</p>
						</div>
					</div>
					<div class="fr">
						<div class="title">Components</div>
						<div class="color_bar"></div>
						<div class="info_block">
							<p>• One SureCall Fusion4Home booster</p>
							<p>• One outside antenna</p>
							<p>• Cable for outside antenna to the signal booster</p>
							<p>• One inside antenna</p>
							<p>• One power supply</p>
							<span>For a list of standard kit options, see below.</span>
						</div>
					</div>
					<div class="cl"></div>
				</div>
			</div>
			<div class="spec" id="spec">
				<div class="center_block">
					<div class="fl">
						<div class="title">Product Name</div>
						<div><span>Carriers:</span></div>
						<div><span>Frequency:</span></div>
						<div><span>Maximum Gain:</span></div>
						<div><span>AC Input:</span></div>
						<div><span>RF Connectors:</span></div>
						<div><span>Dimensions:</span></div>
						<div><span>Weight:</span></div>
					</div>
					<div class="fl center">
						<div class="title">Fusion4Home</div>
						<div><span>All us carriers standards</span></div>
						<div><span>LTE,CDMNA,WCDMA,GSM,EDGE,HSPA+,EVDO</span></div>
						<div><span>80db</span></div>
						<div><span>110V,60Hz</span></div>
						<div><span>N Female(both ends)</span></div>
						<div><span>15-1/2"X 11 X 3-1/2"</span></div>
						<div><span>19.5 lbs.</span></div>
					</div>
					<div class="fl right">
						<p class="title">THIS IS A CONSUMER DEVICE.</p>
						<p>BEFORE USE, you MUST REGISTER THIS DEVICE with your wireless provider and have your provider’s consent. Most wireless providers consent to the use of signal boosters. Some providers may not consent to the use of this device on their network. If you are unsure, contact your provider. You MUST operate this device with approved antennas and cables as specified by the manufacturer. Antennas MUST be installed at least 20 cm (8 inches) from any person. You MUST cease operating this device immediately if requested by the FCC or a licensed wireless service provider.</p>
						<p class="title">WARNING.</p>
						<p>E911 location information may not be provided or may be inaccurate for calls served by using this device. Please note, the four largest carriers, namely, AT&T, T-Mobile, Verizon and Sprint, and more than 90 regional carriers have given a blanket consent to all boosters meeting the new certification standards</p>
					</div>
					<div class="cl"></div>
				</div>
			</div>
			<div class="kit_optional" id="kit_optional">
				<div class="center_block">
					<p class="title">Fusion4Home Yagi / Panel Kit</p>
					<div class="kit_optional_slide">
						<ul>
							<li>
								<div>Boost Cellular Singal for 1-2 Rooms</div>
								<img src="./images/42.png"/>
								<p>Model : SC-Solo-YP kit</p>
							</li>
							<li>
								<div>Boost Cellular Singal for 1-2 Rooms</div>
								<img src="./images/42.png"/>
								<p>Model : SC-Solo-YP kit</p>
							</li>
							<li>
								<div>Boost Cellular Singal for 1-2 Rooms</div>
								<img src="./images/42.png"/>
								<p>Model : SC-Solo-YP kit</p>
							</li>
							<li>
								<div>Boost Cellular Singal for 1-2 Rooms</div>
								<img src="./images/42.png"/>
								<p>Model : SC-Solo-YP kit</p>
							</li>
							<li>
								<div>Boost Cellular Singal for 1-2 Rooms</div>
								<img src="./images/42.png"/>
								<p>Model : SC-Solo-YP kit</p>
							</li>
						</ul>
						<div class="cl"></div>
					</div>
					<div class="kit_optional_pn">
						<a href="javascript:;" class="prev"></a>
						<a href="javascript:;" class="next"></a>
					</div>
					<div class="kit_optional_nav">
						<a href="javascript:;" class="on">1</a>
						<a href="javascript:;">2</a>
						<a href="javascript:;">3</a>
						<a href="javascript:;">4</a>
						<a href="javascript:;">5</a>
					</div>
				</div>
			</div>
			<div class="download" id="download">
				<div class="center_block">
					<a href="" class="a1">DATASHEET</a>
					<a href="" class="a2">USER GUIDE</a>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="foot_top">
				<div class="center_block">
					<!--<span>SureCall Inc.</span>-->
					<a href="" target="_blank">About</a>
					<a href="" target="_blank">Contact Us</a>
					<a href="" target="_blank">Join Us</a>
					<a href="" target="_blank">Support</a>
					<a href="" target="_blank">Site Map</a>
				</div>
			</div>
			<div class="foot_bottom">
				<div class="center_block">
					<p>© 2016 SureCall  All Rights Reserved</p>
				</div>
			</div>
		</div>
		<div class="main_opacity">
			<div class="opacity_bg"></div>
			<div class="login_block">
				<form action="" method="post">
					<input type="text" name="username" id="username" autocomplete="off" placeholder="UserName" />
					<input type="password" name="password" id="password" autocomplete="off" placeholder="PassWord" />
					<input type="submit" name="login" id="login" value="login" />
				</form>
			</div>
		</div>
	<script type="text/javascript" src="./js/js.js"></script>
	</body>
</html>
