@charset "utf-8";

.map{
	padding: 0;
}
.form{
	display: none;
	padding: 50px 0;
}
.input1,.input2,.input3{
	text-align: center;
	margin: 10px 0;
}
.form span{
	display: inline-block;
	margin-right: 5px;
	width: 32px;
}
.form span,.form input[type=text]{
	vertical-align: middle;
}
.input3 button{
	width: 184px;
	height: 43px;
	font-size: 2.5rem;
	color: hsl(0, 0%, 100%);
	font-weight: bold;
	border-radius: 21px;
	background-color: hsl(128, 58%, 52%);
}
.input2 input[type=text],
.input2 span{
	position: relative;
	left: -20px;
}
.input1 > *{
	position: relative;
	left: 46px;
}
.input1 input[type=radio],
.input1 label{
	margin: 0 3px;
}
.preferred_resellers,.master_resellers{
	display: none;
}
.input2 ul{
	width: 268px;
	margin: 0 auto;
	top: -40px;
	overflow: hidden;
	border-radius: 5px;
	position: relative;
	display: none;
	background-color: #fff;
	border: 1px solid #707070;
}
.input2 ul li{
	height: 40px;
	line-height: 40px;
	font-size: 1.8rem;
	color: #707070;
	cursor: pointer;
}
.input2 ul li:hover,
.input2 ul li:active{
	color: #fff;
	background-color: hsl(189, 97%, 43%);
}
